
html {
    box-sizing:border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

header {
    color: white;
    background-color: black;
    height: 400px;
    background: url(../images/ACF_hdr.jpg) center center no-repeat;
    background-size: cover;
}

legend {
    font-size: 1.25rem
    /*text-align: center;*/
}

header h1 {
    text-align: center;
    padding-top: 150px;
    font-size: 1.5rem;
}

h2 {
    text-align: center;
}
@media screen and (max-width: 500px) {
    header h1 {
        font-size: 1.25rem;
    }
    legend {
        font-size: 1rem
    }
}

.create {
    display: block;
}

.edit {
    display: block;
}

.show {
    display: block;
}
.hide {
    display: none;
}

ul {
    padding-left: 10%;
    padding-right: 10%;
}

/*index page specific*/
.horizontal-nav {
    color: blue;
    display: block;
    width: 90%;
    list-style: none;
    padding-bottom: 10px;
}

.horizontal-nav1 {
    color: blue;
    display: block;
    width: 90%;
    list-style: none;
    padding-bottom: 10px;
}

@media screen and (min-width: 643px) {
    .horizontal-nav1 {
        display: inline-block;
        width: 24%;
        padding-bottom: 0px;
    }
}

.horizontal-nav-btn {
    width: 90%;
    font-size: 0.65rem;
}

@media screen and (min-width: 655px) {
    .horizontal-nav-btn {
        font-size: .7rem;
    }
}

@media screen and (min-width: 720px) {
    .horizontal-nav-btn {
        font-size: .75rem;
    }
}

.horizontal-list-hdr {
    color: white;
    background-color: #002030;
    display: inline-block;
    width: 19%;
    list-style: none;
}

.horizontal-list {
    color: blue;
    display: inline-block;
    width: 19%;
    list-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 2px;
}

.event-detail {
    margin-bottom: 0;
    margin-top: 0;
}

input {
    border-radius: 2px;
    width: 40%;
}

.styleform input[type="submit"] {
    margin-left: 15%;
    margin-top: 4px;
}

footer {
    height: 1rem;
    background-color: #00F;
    color: #fff;
    font-size: .5rem;
    position: relative;
}

footer p {
    position: center;
}

.eventInfo {
    color:#000;
    width: 15%;
    padding-right: 4%;
    list-style-type: none;
}

.listInfo {
    list-style-type: none;
}

.listinfo label {
    width: 30%;
}

.extraInfo {
    display: none;
}

@media screen and (min-width: 550px) {
    .eventInfo {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 685px) {
    .eventInfo {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:1089px) {
    styleform input {
        margin-left: 2rem;
    }
    .eventInfo {
        font-size: 2rem;
    }
}

